<%- include('partials/header.ejs') %>

<div id="form-container" class="container">
  <div class="row">
    <form
      id="create-article-form"
      class="form-signin create-article-form col-sm-12"
      method="post"
      action="/update-article"
    >
      <h1 class="h3 mb-3 font-weight-normal article-form-element">
        Edit article
      </h1>
      <label for="inputTitle" class="sr-only article-form-element">Title</label>
      <input
        type="text"
        name="title"
        id="inputTitle"
        class="form-control"
        placeholder="Article title"
        required=""
        autofocus=""
        value="<%= selectedArticle.title%>"
      />
      <label for="inputContenido" class="sr-only article-form-element"
        >Content</label
      >
      <textarea
        id="inputContenido"
        name="content"
        class="form-control"
        placeholder="Article content"
        rows="5"
        required=""
      >
<%=selectedArticle.content%></textarea
      >
      <input type="hidden" name="articleId" value="<%= selectedArticle.id %>" />
      <button
        class="btn btn-lg btn-primary btn-block article-form-element"
        type="submit"
      >
        Update article
      </button>
    </form>
  </div>
</div>

<%- include('partials/footer.ejs') %>
